<%= form_with(model: post, local: true) do |form| %>
<%= stylesheet_link_tag "posts" %>

<section class="fdb-block-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
        <div class="fdb-box fdb-touch">
          <div class="row mt-4 field">
            <div class= "col">
              <%= form.text_field :name, :class => 'form-control', :type => 'text', :placeholder => 'Name' %>
            </div>
          </div>
          <div class="row mt-4 field">
            <div class= "col">
              <%= form.text_field :email, :class => 'form-control', :type => 'text', :placeholder => 'Email' %>
            </div>
          </div>
          <div class="row mt-4 field">
            <div class= "col">
              <%= form.text_field :url, :class => 'form-control', :type => 'text', :placeholder => 'URL' %>
            </div>
          </div>
          <div class="row mt-4 field">
            <div class= "col">
              <%= form.text_field :body, :class => 'form-control', :type => 'text', :placeholder => 'Your Message' %>
            </div>
          </div>
          <div class="row mt-4 actions">
            <div class= "col">
              <%= form.submit :class => 'btn btn-outline-primary-create-new-post' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>