<p id="notice"><%= notice %></p>

<section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-12">
        <h1>Posts</h1>
        <br>
        <h3 class="lead">A simple guestbook website!</h3>
        <br>
        <h4>Feel free to add your post here.</h4>
      </div>
      <div class="col col-md-12">
        <%= link_to 'New post', new_post_path, :class => 'btn btn-outline-primary-new-post', :type => 'button' %>
      </div>
    </div>
  </div>
</section>


<section class="fdb-block-posts">
  <div class="container pt-sm">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Url</th>
          <th scope="col">Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.name %></td>
            <td><%= post.email %></td>
            <td><%= post.url %></td>
            <td><%= post.body %></td>
            <td><%= link_to 'Destroy', post, :class => 'btn btn-outline-danger', :type => 'button', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<section class="fdb-block-footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h3>Made with <i class="fas fa-heart text-danger"></i> by <a class="alex-rusu" href="https://alex.dutylabs.ro"> Alex Rusu</a></h1>
      </div>
    </div>
  </div>
</section>
